.bar-chart {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 40%;
    min-width: 550px;
}

.pie-title {
    font-size: 24px;
    font-weight: bold;
    color: #222222;
}