.wordcloud-total-box {
    width: 500px;
    border-radius: 5px;
    background-color: #ffffff;
}

.wordcloud-title {
    font-size: 14px;
}

.wordCloudBox {
    height: 250px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
}